POSTGRES_DATABASE=ticket_system
POSTGRES_USER=user
POSTGRES_PASSWORD=passwd
POSTGRES_PORT=5432

WEB_PORT=8180
WEB_ORIGIN=http://localhost:8180
API_PORT=8081
REALTIME_PORT=8082

JWT_ISSUER=TicketSystem.Api
JWT_AUDIENCE=TicketSystem.Web
JWT_SIGNING_KEY=replace-with-a-random-secret-of-at-least-32-characters
REALTIME_INTERNAL_KEY=replace-with-a-different-random-secret-of-at-least-32-characters
